name: Publish docs via GitHub Pages
on: 
 - workflow_dispatch
 - push:
   - main


jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        
      - name: Checkout main rAthena
        run: |
          git clone https://github.com/def-not-a-game-studio/rathena/ ../rathena

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          
      - name: Install dependencies
        run: |
          cd ~
          python -m pip install --upgrade pip
          pip install mkdocs
      
      - name: Build documentation
        run: |
          mkdocs build --clean --strict
      
      - name: Deploy
        run: |
          # workaround, see https://github.com/actions/checkout/issues/766
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          if ! git config --get user.name; then
              git config --global user.name "${GITHUB_ACTOR}"
          fi
          if ! git config --get user.email; then
              git config --global user.email "${GITHUB_ACTOR}@users.noreply.${GITHUB_DOMAIN:-"github.com"}"
          fi
          
          mkdocs gh-deploy --config-file mkdocs.yml --force
